main {
	box-sizing: border-box;
	display: grid;
	justify-content: center;
	align-content: center;
	width: 100%;
	height: 100%;
}

#welcome,
#loading {
	box-sizing: border-box;
	display: grid;
	justify-content: center;
	align-content: center;
	width: 100vw;
	position: relative;
	overflow: hidden;
}

#welcome {
	height: 80vh;
}

#loading {
	align-items: center;
	height: 20vh;	
}

#welcome-box {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-content: center;
	width: inherit;
	height: 24vh;
	position: relative;
	overflow: hidden;
}

#welcome-label {
	margin-top: 10em;
	font-family: Lexend ExtraBold;
	font-size: 96px;
	color: #333;
}

#loading-label {
	font-family: Lexend Light;
	font-size: 24px;
	color: #333;
	letter-spacing: 2px;
}


#start-btn {
	justify-self: center;
	align-self: center;
	padding: 1em 1em 1em 1em;
	width: 0;
	height: 12vh;
	background-color: #0155b8;
	border-radius: 48px;
	font-family: Lexend Black;
	text-align: center;
	font-size: 24px;
	overflow: hidden;
	letter-spacing: 2px;
	color: #ffffff00;
	border: 0;
	opacity: 0;
}
