body {
	display: flex;
	background-color: #f0f0f0;
}


#root {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #f0f0f0;
}

#menu {
	box-sizing: border-box;
	display: grid;
	justify-content: center;
	align-content: center;
	padding: 1em;
	width: 20vw;
	height: 100%;
	background-color: #0155b8;
}

#container {
	box-sizing: border-box;
	display: grid;
	align-content: center;
	width: 80vw;
	height: 100%;
}

.menu-btn {
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 1em;
	width: 100%;
	height: 8vh;
}

.menu-icon {
	color: #fff;
}

.menu-label {
	margin-left: 0.5em;
	font-family: Lexend Medium;
	font-size: 14px;
	color: #fff;
}

#mb1 {
	width: 100%;
	height: 8vh;
	z-index: 0;
	background-color: #f0f0f0;
	border-radius: 48px;
}

.black {
	color: #333;
}

.white {
	color: #fff;
}


#p1,
#p2,
#p3,
#p4,
#p5,
#p6,
#p7,
#p8 {
	box-sizing: border-box;
	display: grid;
	justify-content: center;
	align-items: flex-start;
	width: inherit;
	height: 100%;
	position: absolute;
	background-color: #f0f0f0;
	overflow: hidden;
}

#p1 {
	opacity: 1;
	z-index: 1;
}

#p2,
#p3,
#p4,
#p5,
#p6,
#p7,
#p8 {
	opacity: 0;
	z-index: 0;
}

#p1-header {
	box-sizing: content-box;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: inherit;
	height: 10vh;
}

#p1-header-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1em 1em 0 0;
	padding: 1.5em;	
	width: auto;
	height: auto;
	position: relative;
	background-color: #ffffff24; 
	border-radius: 48px;
	box-shadow: 0 0 24px #aaaaaa48; 
	overflow: hidden;
}

#p1-header-btn:hover {
	background-color: #0155b8;
	transition: background-color 0.5s; 
}

#p1-header-btn:not(#p1-header-btn:hover) {
	background-color: #fff;
	transition: background-color 0.2s;
}

#p1-header-btn:hover
#p1-header-btn-icon {
	color: #fff;
	transition: font-size 0.3s;
}

#p1-header-btn:hover
#p1-header-btn-label {
	font-size: 20px;
	color: #fff;
	transition: font-size 0.3s;
}

#p1-header-btn:not(#p1-header-btn:hover)
#p1-header-btn-icon {
	color: #333;
	transition: color 0.2s;
}

#p1-header-btn:not(#p1-header-btn:hover)
#p1-header-btn-label {
	font-size: 0px;
	transition: font-size 0.2s;
}

#p1-header-btn-icon {
	font-size: 24px;
}

#p1-header-btn-label {
	margin-left: 0.5em;
	font-family: Lexend Bold;
	font-size: 0px;
}

#p1-main {
	display: grid;
	justify-content: center;
	align-items: center;
	width: inherit;
	height: 90vh;
}


#table {
	box-sizing: border-box;
	display: grid;
	justify-content: center;
	align-content: flex-start;
	width: 77vw;
	height: 90%;
	overflow: hidden;
}

#table-head {
	display: flex;
	justify-content: center;
	align-items: center;	
	width: inherit;
	height: 10vh;
	position: relative;
	border-radius: 12px;
	background-color: #0155b8;
	box-shadow: 0 2px 4px #33333348;
	overflow: hidden;
}

#th1,
#th2,
#th3,
#th4,
#th5 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20vw;
	height: 80%;
	text-align: center;
}

.th-label {
	font-family: Lexend Bold;
	font-size: 20px;
	color: #fff;
}

#table-sheet {
	display: grid;
	justify-content: center;
	align-content: flex-start;
	margin-top: 3em;
	width: inherit;
	height: 65vh;
	background-color: #ffffff24;
}

#table-sheet::-webkit-scrollbar {
	background-color: #ffffff00;
	border-radius: 24px;
	width: 10px;
}

#table-sheet::-webkit-scrollbar-thumb {
	background-color: #33333324;
	border-radius: 24px;
}

#table-sheet::-webkit-scrollbar-track {
	background-color: #33333310;
	border-radius: 24px;
}


.table-data {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1em;
	width: inherit;
	height: 7vh;
	border: solid #eee 2px;
	border-radius: 12px;
	background-color: #fff;
}

.td {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20vw;
	height: inherit;
	text-align: center;
	font-family: Lexend Light;
}

#modal-root {
	display: grid;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 999999;
	background-color: #33333366;
	visibility: hidden;
}

.modal {
	box-sizing: border-box;
	display: grid;
	justify-content: center;
	align-content: flex-start;
	width: 60vw;
	height: 85vh;
	position: relative;
	overflow: hidden;
	background-color: #ffffff;
	border-radius: 24px;
	opacity: 0;
}

.modal-header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: inherit;
	height: 10vh;
	background-color: #0155b8;
}

.modal-header-label {
	font-family: Lexend ExtraBold;
	font-size: 24px;
	color: #fff;
}

.modal-form {
	box-sizing: border-box;
	display: grid;
	justify-content: center;
	align-items: flex-start;
	grid-template-columns: repeat(2, 1fr);
	padding: 2em;
	width: inherit;
	height: 65vh;
	overflow-x: hidden;
	overflow-y: scroll;
}

.modal-form::-webkit-scrollbar {
	width: 1vw;
	border-radius: 48px;
	background-color: #00000000;
}

.modal-form::-webkit-scrollbar-thumb {
	border-radius: 48px;
	background-color: #33333324;
}

.modal-input {
	display: grid;
	justify-content: center;
	align-items: center;
	width: 30vw;
	height: auto;
}

.modal-label {
	display: grid;
	justify-content: center;
	align-items: center;
	width: inherit;
	height: auto;
}

.modal-icon {
	text-align: center;
	font-size: 64px;
	color: #333;
}

.modal-label-text {
	margin: 1em 0 1em 0;
	font-family: Lexend Medium;
	font-size: 18px;
	color: #333;
}

.modal-input-field {
	display: grid;
	justify-content: center;
	align-items: center;
	width: inherit;
	height: auto;
}

.modal-input-box {
	box-sizing: border-box;
	margin: 0.5em 0 0.5em 0;
	width: auto;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: solid #33333324 2px;
	overflow: hidden;
}

.modal-input-box:active,
.modal-input-box:hover {
	border-bottom: solid #0155b8 2px;
}

.modal-input-text {
	width: 18vw;
	font-family: Lexend Light;
	font-size: 14px;
	color: #333;
	border: 0;
	outline: none;
}

.modal-clear-btn {
	width: auto;
	width: auto;
	background-color: #00000000;
	border: 0;
	font-size: 18px;
	visibility: hidden;
}



.modal-clear-btn:active,
.modal-clear-btn:hover {
	color: #0155b8;
}

.modal-action {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: inherit;
	height: 10vh;
	position: absolute;
	top: 1;
	bottom: 0;
}

.modal-action-btn {
	margin-right: 1em;
	width: 8vw;
	height: 5vh;
	background-color: #00000000;
	border: 0;
	border-radius: 48px;
	font-family: Lexend Medium;
	font-size: 16px;
}

#modal-action-cancel {
	background-color: #00000000;
	color: #333;
}

#modal-action-ok {
	background-color: #33333348;
	color: #fff;
}
